
    <div class="mat-elevation-z8">
      <h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Eveniet repudiandae perferendis eius aut, odit ullam rerum blanditiis quam molestiae ea iure eaque voluptatum deserunt dolorem minima accusamus,<br>iste possimus aperiam.</p>    
      </h4>
    </div>
    
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData"  matSort>
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>nombre</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="peso">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>peso</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.peso}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="simbolo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>simbolo</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.simbolo}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="posicion">
              <mat-header-cell *matHeaderCellDef>posicion</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.posicion}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                loading data ...
              </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="noData">  
                <mat-footer-cell *matFooterCellDef colspan="6">
                No Data.
                </mat-footer-cell>
            </ng-container>

            
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>       
          
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

          </mat-table>      
          <mat-paginator [pageSizeOptions]="[3,5, 6, 10, 25, 100]" [pageSize]="3" showFirstLastButtons></mat-paginator>
    </div>