
    <div class="mat-elevation-z8">
      <h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Eveniet repudiandae perferendis eius aut, odit ullam rerum blanditiis quam molestiae ea iure eaque voluptatum deserunt dolorem minima accusamus,<br>iste possimus aperiam.</p>    
      </h4>
    </div>
    
    <div class="mat-elevation-z8">
      <table  
          mat-table [dataSource]="dataSource" multiTemplateDataRows  matSort>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
        
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="grid-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="grid-element-diagram">
                <div class="grid-element-position"> {{element.posicion}} </div>
                <div class="grid-element-symbol"> {{element.simbolo}} </div>
                <div class="grid-element-name"> {{element.nombre}} </div>
                <div class="grid-element-weight"> {{element.peso}} </div>
              </div>
              <div class="grid-element-description">
                {{element.description}}
                <span class="grid-element-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="grid-element-row"
            [class.grid-expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="grid-detail-row"></tr>
      </table>
  </div>